.breadscrums {
  @include list;
  display: flex;
  margin-bottom: 30px;

  &--contacts {
    margin: 10px 0;
  }
}

.breadscrums__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #1C626B;
  letter-spacing: 0.05em;

  &[href] {
    &:hover {
      color: darken(#1C626B, 20%);
    }
  }
}

.breadscrums__item {
  display: flex;

  &:not(:last-child):after {
    content: '/';
    margin: 0 15px;
    color: #1C626B;
  }
}
