@font-face {
  font-family: "Uni Neue";
  font-display: swap;
  src:  local("Uni Neue"),
    url("../fonts/UniNeueRegular.woff2") format("woff2"),
    url("../fonts/UniNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  font-display: swap;
  src: local("Uni Neue"),
    url("../fonts/UniNeueBold.woff2") format("woff2"),
    url("../fonts/UniNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
